html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border-top: 1px solid transparent;
}

#login-area {
    width: 500px;
    height: 300px;
    border: 1ps solid #000;
    margin: 0 auto;
    margin-top: 150px;
}

#login-area #login-text {
    width: 100%;
    margin-top: 50px;
    text-align: center;
}

#login-area #login-form-area {
    width: 100%;
    margin-top: 40px;
    text-align: center;
}

#login-area #login-form-area #login-form #username {
    height: 40px;
    width: 300px;
    padding: 0 5px;
    font-size: 16px;
    outline: none;
    outline-offset: 0;

}

#login-area #login-form-area #login-form #login-submit {
    font-size: 16px;
    background:transparent;
    border: 1ps solid #000;
    height: 40px;
    width: 80px;
    cursor: pointer;
    outline: none;
    outline-offset: 0;
}

#login-area #login-form-area #login-form #login-submit:hover {
    color: #fff;
    background-color: darkblue;
}

#test {
    display: none;
    width: 900px;
    height: 500px;
    background: #000;


}
